<div class="row">
  <select id="selectCountry" onchange="changeCountry(this.value)">
    <option>Select...</option>
  </select>
</div>

<svg id="visualization"></svg>

<script type="text/javascript" src="js/country.js"></script>