<div class="row">
  <select id="selectCountry" onchange="changeCountry(this.value)">
    <option>Select...</option>
  </select>
  
  <p>
    <svg id="visualization" width="1000" height="500"></svg>
  </p>
</div>
<script type="text/javascript" src="js/country.js"></script>